.App {
  text-align: left;
}

.header {
  background: linear-gradient(to bottom right, #12121280 0%, #6e6e6e80 100%);
  background-color: #3c3c3c90;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #b318f0;
}